@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:white;
}

.animate-typing{
    animation: typing 3s steps(44,end);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.animate-typing2{
    animation: typing 3s steps(44,end);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes typing {
    from{width: 0%;}
    to{width: 100%;}
}

@keyframes animateWaves {
    0% {
        background-position-x: 4000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -4000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

.wave#wave1 {
    z-index: 19;
    opacity: 1;
    animation: animateWaves 10s linear infinite !important;
  }
  
  .wave#wave2 {
    z-index: 19;
    opacity: 0.5;
    animation: animate 10s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 20;
    opacity: 0.2;
    animation: animateWaves 5s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 19;
    opacity: 0.7;
    animation: animate 5s linear infinite;
  }
